/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    box-sizing: border-box;
    font-family: "monsieur la doulaise regular", "Montserrat", "Poppins";
}

main {
    display: flex;
}

section {
    flex-basis: 50%;
    padding: 25px;
}

section:nth-child(1){
    border-right: 1px solid black;
}

p {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

span, button {
    flex-basis: 25%;
}

button {
    background-color: aliceblue;
    columns: black ;
    border-radius: 15px;
}


